body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}
.cell {
    border: none;
    background-color: white;
    height: 1fr;
    width: 1fr;
    flex: 0 1 auto;
}

.grid {
    display: grid;
    /* grid-template: 100px / 100px; */
    /* grid-template-columns: repeat(auto-fit, 1fr); */
   /* grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    */
    /*grid-template-columns: auto fit-content(200px) auto;
    */
   height: 500px;
   width: 800px;
   border: 1px solid black;
   
    
}

#gridBox {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1000px;
} 
.header {
    height: 50px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    color: #E5E7EB;
    font-size: 40px;
    font-weight: bold;
}

.aside {
    float: left;
    width: 15%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-right: 1px solid #1F2937;
    border-bottom: 1px solid #1F2937;
    
}
input {
    width: 23px;
    float: right;
    text-align: right;
}

.left-text {
    border-bottom: 1px solid #1F2937;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#gridButton {
    text-align: center;
    width: 100%;
}
#clearButton {
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.cell {
    background-color: white;
    transition: background-color 0.5s;
    height: 1fr;
    width: 1fr;
}
.cell.playing {
    background-color: black;
}

/*
.cell:hover {
    background-color: black;
} 
*/


